<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Header</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-danger">
	  <a class="navbar-brand" href="#" style="color: white; font-size: 25px; margin-left: 10px;" th:href="@{/hero/list}">RevolutionHeros</a>
	  <a class="navbar-brand" href="#" style="color: white; font-size: 20px; margin-left: 10px;" th:href="@{/case/list}">WhatHappeningInMyanmar</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <!-- <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li> -->
	      <!-- <li class="nav-item">
	        <a class="nav-link" href="#" th:href="@{/movie/}">Movies</a>
	      </li> -->
	      <!-- <li class="nav-item">
	        <a class="nav-link" href="#" style="color: white;" th:href="@{/actor/list}">Actors</a>
	      </li> -->
	      <!-- <li class="nav-item">
	        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	      </li> -->
	    </ul>
	  </div>
</nav>
</body>
</html>